#  Problem Set 2

## Question 1 
Consider the following Python module:

a = 0

def b():

 global a
 
 a = c(a)
 
def c(a):

 return a + 2
 
After importing the module into the interpreter, you execute:

> b()

> b()

> b()

> a
?


What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

a = 0

def b():

      global a
 
 a = c(a)
 
def c(a):

     return a + 2
 
After importing the module into the interpreter, you execute:

> b() 
/// calls function c making the global value 0 + 2, a=2, now since a is a global value which is being assigned the return value 2 the global value changes to 2

> b()
/// calls function c making the global value 2 + 2, a=4, now since a is a global value which is being assigned the return value 4 the global value changes to 2

> b()
/// calls function c making the global value 4 + 2, a=6, now since a is a global value which is being assigned the return value 6 the global value changes to 2
> a=6

## Question 2
Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:

> fileLength('midterm.py')

284
> fileLength('idterm.py')

Traceback (most recent call last):

File "<pyshell#34>", line 1, in <module>
    
 fileLength('idterm.py')
    
File "/Users/me/midterm.py", line 3, in fileLength
    
 infile = open(filename)
    
FileNotFoundError: [Errno 2] No such file or directory:
    
'idterm.py'
    
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
    
>fileLength('midterm.py')
    
358
> fileLength('idterm.py')
    
File idterm.py not found.

In [2]:
def fileLength(file):
    try:
        infile = open(file)
        content = infile.read()
        print("Length of ccontents in file are:")
        print(len(content)) 
    except FileNotFoundError:
        print("File ",file," not found.")
        
filename=input("input filename ")
fileLength(filename)

input filename currencies.txt
Length of ccontents in file are:
477

In [3]:
def fileLength(file):
    try:
        infile = open(file)
        content = infile.read()
        print("Length of ccontents in file are:")
        print(len(content)) 
    except FileNotFoundError:
        print("File ",file," not found.")
        
filename=input("input filename")
fileLength(filename)

input filenamenew.py
File  new.py  not found.

## Question 3
Write a class named Marsupial that can be used as shown below:

> m = Marsupial()

> m.put_in_pouch('doll')

> m.put_in_pouch('firetruck')

> m.put_in_pouch('kitten')

> m.pouch_contents()

['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:

a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,

b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and

c. overloads the __str__ operator so it behaves as shown below.

> k = Kangaroo(0,0)

> print(k)

I am a Kangaroo located at coordinates (0,0)

> k.put_in_pouch('doll')

> k.put_in_pouch('firetruck')

> k.put_in_pouch('kitten')

> k.pouch_contents()

['doll', 'firetruck', 'kitten']

> k.jump(1,0)

> k.jump(1,0)

> k.jump(1,0)

> print(k)

I am a Kangaroo located at coordinates (3,0)

In [1]:
class Marsupial:
   
    'a generic class with one method'
    def __init__(self):
        self.pouch=[]
            
    def put_in_pouch(self,value):
        self.pouch.append(value)
        
    def pouch_contents(self):
        return self.pouch
        
class Kangaroo(Marsupial):
    
 
    def __init__(self, dx=0, dy=0):
        Marsupial.__init__(self)
        self.x = dx
        self.y = dy
                
    def jump(self,dx,dy):
        self.x+=dx
        self.y+=dy
        
    def __str__(self):
        return f'I am a Kangaroo located at coordinates ({self.x},{self.y})'

dx=int(input("input X co-ordinate of kangaroo "))
dy=int(input("input y co-ordinate of kangaroo "))
k = Kangaroo(dx,dy)
print(k)

n=int(input("input number of jumps for kangaroo to jump to "))
if n==0:
    print("kangaroo will not jump")
else:
    while n>0:
        x=int(input("input X co-ordinate for kangaroo to jump to "))
        y=int(input("input y co-ordinate for kangaroo to jump to "))
        k.jump(x,y)
        n=n-1
    print(k)

#reference
# https://www.journaldev.com/22460/python-str-repr-functions

input X co-ordinate of kangaroo 0
input y co-ordinate of kangaroo 0
I am a Kangaroo located at coordinates (0,0)
input number of jumps for kangaroo to jump to 3
input X co-ordinate for kangaroo to jump to 1
input y co-ordinate for kangaroo to jump to 0
input X co-ordinate for kangaroo to jump to 1
input y co-ordinate for kangaroo to jump to 0
input X co-ordinate for kangaroo to jump to 1
input y co-ordinate for kangaroo to jump to 0
I am a Kangaroo located at coordinates (3,0)

## Question 4
Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:

x = {

洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐뜦n
3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬

Your function should stop when the sequence gets to number 1. Your

implementation must be recursive, without any loops.

> collatz(1)

1

> collatz(10)

10
5
16
8
4
2
1

In [2]:
def collatz(n):
    if n == 1:
        print(n)
    elif n%2==0:
        print(n)
        n=int(n/2)
      
        collatz(n)
    else:
        print(n)
        n=3*n+1
       
        collatz(n)
num=int(input("Input number"))
collatz(10)

Input number10
10
5
16
8
4
2
1

## Question 5
Write a recursive method binary() that takes a non-negative

integer n and prints the binary representation of integer n.

> binary(0)

0
> binary(1)

1
> binary(3)

11
> binary(9)

1001

In [4]:

def binary(n):
   
    if n <=1:
        print(n,end='')
    else:
        binary(n//2)
        print(n%2,end='')
num=int(input("input number to convert from decimal to binary"))
binary(num)

#reference
# https://www.codingem.com/python-print-on-the-same-line/#:~:text=To%20print%20on%20the%20same%20line%20in%20Python%2C%20add%20a,to%20the%20print()%20function.

input number to convert from decimal to binary9
1001

## Question 6
Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.

> infile = open('w3c.html')

> content = infile.read()

> infile.close()

> hp = HeadingParser()

> hp.feed(content)

W3C Mission

 Principles

In [308]:
from html.parser import HTMLParser
value=0
class HeadingParser(HTMLParser):
    
    def handle_starttag(self, tag, attrs):
        
        if tag=='h1':
            global value
            value=1
       
        if tag=='h2':
            
            value=2
        if tag=='h3':
            
            value=3
        if tag=='h4':
            
            value=4
        if tag=='h5':
            
            value=5
        if tag=='h6':
            
            value=6
            
            
            
                
            

    def handle_endtag(self, tag):
        if tag =='h1' or tag=='h2' or tag=='h3' or tag=='h4' or tag=='h5' or tag=='h6':
            global value
            value=0
            
            

    def handle_data(self, data):
        if value==1:
            print(data)
        elif value>=2:
            print(" "*(value-1),data)
        
   
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

#reference
#https://stackoverflow.com/questions/11804148/parsing-html-to-get-text-inside-an-element

W3C Mission
  Principles

## Question 7
Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.
>
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
 
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
 
 http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
 
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [10]:
from urllib.parse import urljoin
from html.parser import HTMLParser
from urllib.request import urlopen
global_depth=0
global_indent=0
global_ctr=0
site_ctr=0


def webdir(url,depth,indent) :
        global global_ctr
        if(global_ctr==0):
            print(url)
        global_ctr=global_ctr+1
        global global_depth
        global_depth=depth
        global global_indent
        global_indent=indent
        if global_depth>=-1:
            resource = urlopen(url)
            content = resource.read().decode()
            FP = FileParser(url)
            FP.feed(content)
            
        
    
       
        
        
                        
class FileParser(HTMLParser):
    
    def __init__(self, url):
        
        HTMLParser.__init__(self)
        self.url = url

    
    def handle_starttag(self, tag, attrs):
        'collects hyperlink URLs in their absolute format'
        
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    # construct absolute URL
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': # collect HTTP URLs
                               
                                if global_indent==0:
                                    print(absolute)
                                else:
                                    print(" "*global_indent,absolute)
                                
                        
                                webdir(absolute,global_depth-1,global_indent)
                        
    


          
    
        
               



url = 'http://reed.cs.depaul.edu/lperkovic/test1.html'
depth=2
webdir(url,depth,0)

http://reed.cs.depaul.edu/lperkovic/test1.html
http://reed.cs.depaul.edu/lperkovic/test2.html
http://reed.cs.depaul.edu/lperkovic/test4.html
http://reed.cs.depaul.edu/lperkovic/test3.html
http://reed.cs.depaul.edu/lperkovic/test4.html

## Question 8

Write SQL queries on the below database table that return:

a) All the temperature data.

b) All the cities, but without repetition.

c) All the records for India.

d) All the Fall records.

e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.

f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.

g) The total annual rainfall for Cairo.

h) The total rainfall for each season.

City Country Season Temperature

(C)
Rainfall

(mm)

Mumbai India Winter 24.8 5.9

Mumbai India Spring 28.4 16.2

Mumbai India Summer 27.9 1549.4

Mumbai India Fall 27.6 346.0

London United Kingdom Winter 4.2 207.7

London United Kingdom Spring 8.3 169.6

London United Kingdom Summer 15.7 157.0

London United Kingdom Fall 10.4 218.5

Cairo Egypt Winter 13.6 16.5

Cairo Egypt Spring 20.7 6.5

Cairo Egypt Summer 27.7 0.1

Cairo Egypt Fall 22.2 4.5

In [153]:
import sqlite3
connections = sqlite3.connect('web.db')
c = connections.cursor()
c.execute("CREATE TABLE temperature_rainfall(City varchar(25),Country varchar(15),Season varchar(15),[Temperature(c)] real,[Rainfall (mm)] real)")
c.execute("INSERT INTO temperature_rainfall VALUES ('Mumbai','India','Winter',24.8,5.9),('Mumbai','India','Spring',28.4,16.2),('Mumbai','India','Summer',27.9,1549.4),('Mumbai','India','Fall',27.6,346),('London','United Kingdom','Winter',4.2,207.7),('London','United Kingdom','Spring',8.3,169.6),('London','United Kingdom','Summer',15.7,157),('London','United Kingdom','Fall',10.4,218.5),('Cairo','Egypt','Winter',13.6,16.5),('Cairo','Egypt','Spring',20.7,6.5),('Cairo','Egypt','Summer',27.7,0.1),('Cairo','Egypt','Fall',22.2,4.5)")

## a) All the temperature data.

In [165]:
c.execute("SELECT * FROM temperature_rainfall")
for record in c:
    print(record)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

## b) All the cities, but without repetition.

In [163]:
c.execute("SELECT DISTINCT(City) FROM temperature_rainfall")
c.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

## c) All the records for India.

In [164]:
c.execute("SELECT* FROM temperature_rainfall WHERE Country='India'")
for record in c:
    print(record)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

## d) All the Fall records.

In [161]:
c.execute("SELECT* FROM temperature_rainfall WHERE Season='Fall'")
for record in c:
    print(record)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

## e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

In [166]:
c.execute("SELECT* FROM temperature_rainfall WHERE [Rainfall (mm)] BETWEEN 200 AND 400")
for record in c:
    print(record)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)

## f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [167]:
c.execute("SELECT* FROM temperature_rainfall WHERE Season='Fall' AND [Temperature(c)]>20 ORDER BY [Temperature(c)]")
for record in c:
    print(record)

('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

## g) The total annual rainfall for Cairo.

In [172]:
c.execute("SELECT SUM([Rainfall (mm)]) FROM temperature_rainfall WHERE City='Cairo'")
for record in c:
    print(record)

(27.6,)

## h) The total rainfall for each season.

In [173]:
c.execute("SELECT Season,SUM([Rainfall (mm)]) FROM temperature_rainfall GROUP BY Season")
for record in c:
    print(record)

('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

## Question 9
 Suppose list words is defined as follows: 

> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']

Write list comprehension expressions that use list words and generate the following
lists:

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG']

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)

e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

In [31]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

uppercase_words=[];
lowercase_words=[];
length_words=[];
combined_list=[];
morethan4=[];

for i in range(len(words)):
    uppercase_words.append(words[i].upper());
    lowercase_words.append(words[i].lower());
    length_words.append(len(words[i]));
    combined_list.append([uppercase_words[i],lowercase_words[i],length_words[i]]);
    if(length_words[i]>=4):
        morethan4.append(words[i]);

print('A)\n',uppercase_words);        
print('B)\n',lowercase_words);    
print('C)\n',length_words);
print('D)\n',combined_list);
print('E)\n',morethan4);

#reference
#https://blog.finxter.com/python-list-of-lists/

A)
 ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
B)
 ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
C)
 [3, 5, 5, 3, 5, 4, 3, 4, 3]
D)
 [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
E)
 ['quick', 'brown', 'jumps', 'over', 'lazy']